* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", Verdana, Arial, '微软雅黑', '宋体';
    font-size: 14px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}

table.dataintable {
    border-collapse: collapse;
    border: 1px solid #aaa;
    width: 1200px;
    margin: 15px auto;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table.dataintable th {
    vertical-align: baseline;
    padding: 10px 10px 10px 10px;
    background-color: #3F3F3F;
    border: 1px solid #3F3F3F;
    text-align: left;
    color: #fff;
}

table.dataintable tr:nth-child(odd) {
    background-color: #F5F5F5;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

table.dataintable td {
    vertical-align: text-top;
    padding: 9px 9px 9px 9px;
    border: 1px solid #aaa;
}

td a {
    color: #000;
}

td a:hover {
    color: #008CBA;
}

input[type=text]{
    margin: 4px 10px;
    padding: 3px 5px;
}